@model Assignment3.Models.User
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

@using (Html.BeginForm("SaveUser", "Home"))
{
    @*<p>
            User Name: <input type="text" name="UserName" />
        </p>

        <p>
            Password: <input type="password" name="Password" />
        </p>

        <input type="submit" value="Add User" />*@

<p>
    User Name: @Html.TextBoxFor(user => user.UserName)
</p>

<p>
    Password: @Html.PasswordFor(user => user.Password)
</p>

    <input type="submit" value="Add User" />

}
